.DS_Store
.cache/
node_modules/
.turbo/
.angular/
codegen.output.log
migrations/codegen/
dist/
SQL Scripts/
Schema Files/
install.config.json
.env
report.html
report.json
metadata/sql_logging
.playwright-cli/
.claude/
